<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Boolzapp</title>
</head>
<body>
    <div class="container" id="app">
        <!--parte sinistra app-->

        <div class="left_container"> <!--container di sinistra-->
            <!--parte alta con immagine del profilo, storie, chat e impostazioni-->
            <div class="top_section"> 
                <div class="user_pro_pic">
                    <img src="https://unsplash.it/50/50?image=1" alt="">
                </div>
                <div class="settings_stories">
                    <i class="fa-solid fa-message"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </div>

            <!--barra di ricerca-->
            <div class="search_section"> 
                <input type="text" placeholder="Cerca o inizia una nuova chat" class="chat_search">
            </div>

            <!--archivio chat-->
            <div class="chat_section"> 
                <div v-for="(user, index) in contacts" @click="dataIndex = index" class="chat_element">
                    <div class="chat_pro_pic">
                        <img :src="user.avatar" alt="">
                    </div>
                    <div class="chat_infos">
                        <h3>{{ user.name }}</h3>
                        <p class="last_mess">{{ user.messages.at(-1).text}}</p>
                    </div>
                    <span class="last_enter">{{ user.messages.at(-1).date }}</span>
                </div>
            </div>
        </div>

        <!-- container di destra, chat aperta -->
        <div class="right_container"> 

        <!-- parte alta della chat, con nome utente e impostazioni -->
            <div class="top_chat_section">
                <div class="top_chat_left">
                    <div class="chat_pro_pic_dx">
                        <img :src="contacts[dataIndex].avatar" alt="">
                    </div>
                    <div class="chat_infos">
                        <h3>{{ contacts[dataIndex].name }}</h3>
                        <p class="last_enter_rigth">{{ contacts[dataIndex].messages.at(-1).date }}</p>
                    </div>
                </div>
                <div class="top_chat_right">
                    <i class="fas fa-video"></i>
                    <i class="fas fa-phone ms_separator"></i>
                    <i class="fas fa-search"></i>
                    <i class="fas fa-chevron-down"></i>
                </div>
            </div>
            <!-- parte in cui viene mostrata la chat -->
            <div class="current_chat">
                
                    <div :class="`${contacts[dataIndex].messages[index].status}_message`" v-for="(chatElement, index) in contacts[dataIndex].messages">
                        {{ chatElement.text }}
                    </div>
                
            </div>
            <!-- parte bassa della chat, dove si scrive -->
            <div class="text_section">
                <div class="emoji_attach">
                    <i class="far fa-laugh"></i>
                    <i class="fas fa-paperclip"></i>
                </div>
                <div class="insert_text">
                    <input v-model="inputValue" @keyup.enter="addAndClean()" type="text" class="input_text" placeholder="Scrivi un messaggio">
                </div>
                <div class="audio_message">
                    <i class="fas fa-microphone"></i>
                </div>
            </div>
        </div>
    </div>
    <!-- inclusione js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>