@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&family=Roboto:wght@300&display=swap');

body{
    font-family: 'Raleway', sans-serif;
}
.container{
    display: flex;
}
.right_container{
    background-color: gray;
    width: 65%;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.left_container{
    width: 35%;
    background-color: #1e2428;
    height: 100vh;
}
.top_section{
    background-color: #2a2f32;
    height: 50px;
}
/* immagine profilo utente e impostazioni */
.user_pro_pic{
    width: 40px;
    display: inline-block;
}
.user_pro_pic img{
    height: 40px;
    width: 40px;
    margin: 5px 10px;
    object-fit: cover;
    opacity: .85;
    border-radius: 50%;
}
.settings_stories{
    margin: auto;
    color: white;
    float: right;
}
.settings_stories i{
    font-size: 25px;
    margin-top: 15px;
    margin-right: 15px;
    opacity: .5;
}
.settings_stories i, .user_pro_pic img:hover{
    cursor: pointer;
    opacity: 1;
}
.last_mess{
    font-size: 12px;
}
.last_enter{
    color: white;
    font-size: 10px;
    margin-left: 5px;
}
/* barra di ricerca */
.search_section{
    background-color: #2a2f32;
    padding: 20px;
    border: 1px solid grey;
}
.chat_search{
    width: 100%;
    height: 20px;
    cursor: pointer;
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    outline: none;
}
/* elenco chat */
.chat_element{
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #2a2f32;
    border-bottom: 1px solid grey;
}
.chat_pro_pic img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}
.chat_infos{
    margin-left: 10px;
    margin-top: 5px;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
.chat_pro_pic img, .chat_infos:hover{
    cursor: pointer;
}
.current_chat{
    display: flex;
    flex-direction: column;
}
.received_message, .sent_message{
    padding: 20px;
    width: inherit;
    margin: 20px;
    max-width: 30%;
}
.received_message{
    background-color: white;
    align-self: flex-start;
    border-radius: 0px 15px 15px 15px;
}
.sent_message{
    background-color: lightgreen;
    align-self: flex-end;
    border-radius: 15px 0px 15px 15px;
}
/* parte superiore della chat */
.top_chat_section{
    display: flex;
    justify-content: space-between;
    background-color: #2a2f32;
    border-left: 1px solid grey;
    height: 50px;
}
.chat_pro_pic_dx img{
    margin: 5px;
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}
.last_enter_rigth{
    font-size: 12px;
    margin-top: 5px;
}
.top_chat_left{
    display: flex;
}
.top_chat_right{
    display: flex;
    align-items: center;
}
.top_chat_right i{
    color: white;
    font-size: 20px;
    padding: 10px;
}
.top_chat_right i:hover{
    cursor: pointer;
}
.ms_separator{
    border-right: 1px solid grey;
}
/* parte centrale, dove viene mostrata la chat */
.current_chat{
    height: calc(100vh - 100px);
    width: 100%;
    background-image: url(chat-wallpaper.png);
    overflow: auto;
}
/* parte di inserimento testo */
.text_section{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2a2f32
}
.insert_text{
    width: 80%;
}
.input_text{
    width: 100%;
    height: 40px;
    border-radius: 20px;
    outline: none;
    background-color: lightgray;
    padding: 20px;
    border: 1px solid black;
}
.emoji_attach{
    padding-left: 20px;
}
.audio_message{
    padding-right: 20px;
}
.emoji_attach i, .audio_message i{
    color: white;
    font-size: 20px;
    padding: 5px;
} 
.emoji_attach i, .audio_message i:hover{
    cursor: pointer;
}